outdir/ 
configdir/
paperPlots/
mosaic_comparisons/
path.txt
joss-template.latex
.latexrun.db
.latexrun.db.lock
AJ_Paper/
apr_run.sh
berman_mccleary_joss.pdf
gaussian_catalog.fits
j2.tex
joss_metadata.txt
main.bbl
metadata.txt
new_output_file.fits
second_extension_only.fits
sim_run.sh
sse_run.sh
test_catalog.md
your_paper.aux
your_paper.bcf
your_paper.blg
your_paper.fls
your_paper.log
your_paper.out
your_paper.pdf
your_paper.run.xml
your_paper.tex
ShOpt.jl.zip
aasjournal.bst
aastex631.cls
aj_submission.zip
arxiv_sub/
final_sub/
full_shopt_intro_discussion.tex
images/
main.bib
main.tex
orcid-ID.png
samplefig.png
shOptWorkflow.png
shoptworkflow.png
workflow.png
.f115w_apr_a1/
.f115w_apr_a10/
.f115w_apr_a5/
.f115w_apr_a6/
.f115w_mos_sim/
.f150w_apr_a1/
.f150w_apr_a10/
.f150w_apr_a5/
.f150w_apr_a6/
.f150w_mos_sim/
.f277w_apr_a1/
.f277w_apr_a10/
.f277w_apr_a5/
.f277w_apr_a6/
.f277w_mos_sim/
.f444w_apr_a1/
.f444w_apr_a10/
.f444w_apr_a5/
.f444w_apr_a6/
.f444w_mos_sim/
3v.zip
444_new/
__pycache__/
catalogaugmenter.py
final_arxiv_submission.zip
final_shopt_arxiv_submission.zip
g_vs_e_plot.png
make.py
median_constraint_runs/
mock_data_outputs_and_cats/
new_shopt_arxiv_submission.zip
revised_submission/
src/
v3.zip
v3_arxiv.zip
v3_sub/
v3_sub_final.zip
v3_sub_final/
v3_sync.zip
v3_v3.zip
v3v3.zip
