outdir/ 
configdir/
paperPlots/
mosaic_comparisons/
path.txt
joss-template.latex
.latexrun.db
.latexrun.db.lock
AJ_Paper/
apr_run.sh
berman_mccleary_joss.pdf
gaussian_catalog.fits
j2.tex
joss_metadata.txt
main.bbl
metadata.txt
new_output_file.fits
second_extension_only.fits
sim_run.sh
sse_run.sh
test_catalog.md
your_paper.aux
your_paper.bcf
your_paper.blg
your_paper.fls
your_paper.log
your_paper.out
your_paper.pdf
your_paper.run.xml
your_paper.tex
ShOpt.jl.zip
aasjournal.bst
aastex631.cls
aj_submission.zip
arxiv_sub/
final_sub/
full_shopt_intro_discussion.tex
images/
main.bib
main.tex
orcid-ID.png
samplefig.png
shOptWorkflow.png
shoptworkflow.png
workflow.png


